
.pdf-container {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  height: 60%; 
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.pdf-content {
  overflow-y: auto;
  height: 100%; 
  padding: 6px;
  flex-grow: 1;
  font-size: calc(0.6rem + 0.3vw); 
}

.title1 {
  font-size: calc(0.5rem + 0.5vw); 
}

.text-content, .info-table td {
  font-size: calc(0.4rem + 0.2vw); 
}
.list-part {
  font-size: calc(0.5rem + 0.2vw); 
  line-height: 1.5;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.info-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.info-table .info-label {
  background-color: #F5E9D9;
  font-weight: bold;
  padding: 6px;
}

ul {
  list-style: disc inside;
  padding-left: 16px;
}

ul li {
  margin-bottom: 8px;
}

.image-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.image-content img {
  max-width: 100px; 
  height: auto;
}

.default-events {
  font-size: calc(0.5rem + 0.2vw); 
  line-height: 1.5;
}

.pdf-footer {
  background-color: #f8f8f8;
  // border-top: 1px solid #ccc;
  padding: 8px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 10px solid black;
}

.footer-row {
  display: flex;
  width: 100%;
  align-items: center;
}

.footer-image-col {
  flex: 0 0 auto;
}
.footer-image-col > small{
  width: 100%
}
.footer-text-col {
  flex: 1;
  // padding-left: 8px;
}



.pdf-footer small {
  font-size: calc(0.35rem + 0.2vw); 
}

.pdf-footer strong {
  font-size: calc(0.6rem + 0.3vw); 
}


.repayment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.repayment-table th,
.repayment-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.repayment-table th {
  background-color: #F5E9D9;
  font-weight: bold;
}

.note {
  font-size: calc(0.4rem + 0.2vw);
  margin-top: 8px;
}

.sign {
  margin-top: 1.5rem;
}