<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>
      Blank
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pdf-container">
    <div class="pdf-content">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="text-content">
              <p class="pdf-text">22-05-2024</p>
              <p class="pdf-text">Kayode Foluso</p>
              <p class="pdf-text">Lagos island</p>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="image-content">
              <img src="../../assets/icon/berkshirelogo.webp" alt="Description of the image">
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p>Dear sir,</p>
            <p class="title1"><strong>PREMIUM FINANCE FACILITY - TERMS OF OFFER</strong></p>
            <p class="default-events">We are pleased to inform you that Management of Berkshire Finance Company Limited (BFC) has approved your
              application in relation to subject facility under the terms and conditions set out below:</p>
            <table class="info-table">
              <tr>
                <td class="info-label">Borrower</td>
                <td>Kayode Foluso</td>
              </tr>
              <tr>
                <td class="info-label">Biometric Verification Number</td>
                <td>22190139832</td>
              </tr>
              <tr>
                <td class="info-label">Lender</td>
                <td>Berkshire Finance Company Limited</td>
              </tr>
              <tr>
                <td class="info-label">Lender</td>
                <td>AXA Mansard Insurance PLC</td>
              </tr>
              <tr>
                <td class="info-label">Facility Type</td>
                <td>Premium Finance Facility</td>
              </tr>
              <tr>
                <td class="info-label">Insurer</td>
                <td>Axa Mansard Insurance PLC</td>
              </tr>
              <tr>
                <td class="info-label">Facility Amount</td>
                <td>₦70,000.00</td>
              </tr>
              <tr>
                <td class="info-label">Initial Payment</td>
                <td>₦36,335.50</td>
              </tr>
              <tr>
                <td class="info-label">Tenor</td>
                <td>₦36,335.50</td>
              </tr>
              <tr>
                <td class="info-label">Interest Rate</td>
                <td>4% per month</td>
              </tr>
              <tr>
                <td class="info-label">Initial Payment</td>
                <td>₦36,335.50</td>
              </tr>
              <tr>
                <td class="info-label">Repayment Structure</td>
                <td>Monthly amortisation of
                Principal and Interest</td>
              </tr>
              <tr>
                <td class="info-label">Management Fee</td>
                <td>1% flat, payable upfront</td>
              </tr>
              <tr>
                <td class="info-label">Credit Bureau Fee</td>
                <td>₦5,000.00 (Five Thousand
                Naira only), payable
                upfront</td>
              </tr>
            </table>
              <div class="default-events">
                <p><strong>1. Security</strong></p>
                <p>Kayode Foluso's Vehicle Insurance Policy of ₦100,000.00 underwritten by Axa Mansard Insurance PLC:</p>
                <p><strong>2. Conditions Precedent to Facility Disbursement</strong></p>
                <ul>
                  <li>Receipt of relevant Know Your Customer documents on the Borrower</li>
                  <li>Receipt of satisfactory credit check reports</li>
                  <li>Receipt of initial payment amount, management fee and credit bureau fee</li>
                  <li>Receipt of a duly executed copy of Premium Finance Application Package</li>
                </ul>
              </div>
          </ion-col>
          <ion-col size="6">
            <div class="default-events">
              <p><strong>3. Events of default</strong></p>
              <p>The occurrence of any of the following events shall cause all outstanding amounts under this Facility to
                become immediately due and payable:</p>
              <ul>
                <li>If the Borrower fails to make a repayment or payment of principal, interest, or other amount in respect
                  of the Facility seven (7) days after the date it was due to be paid</li>
                <li>The Borrower breaches any of the terms and conditions of the Terms of Offer including any
                  misrepresentation given by the Borrower in the Application</li>
                <li>Where a bankruptcy petition is filed against the Borrower. Where the Borrower is unable to pay any other
                  party within the meaning of Section 1 of the Bankruptcy Act (Cap 30) Laws of the Federation of Nigeria
                </li>
                <li>Where a situation arises which in the opinion of BFC makes it inappropriate to continue to extend the
                  Facility to the Borrower</li>
                <li>Where the Borrower defaults in the performance or observation of any other term, condition, or covenant
                  herein and such breach or default is not remedied after five (5) days' notices have been given to the
                  Borrower</li>
                <li>Cancellation, surrender or variation of the Insurance Policy (or Policies) without the prior written
                  consent of BFC</li>
                <li>
                  Notwithstanding anything contained herein, should the Borrower fail to make a repayment or payment of
                    principal, interest, or any other amount in respect of the Facility seven (7) days after the date it is
                    due to be paid in addition to any penalties, losses,and liabilities which correlate with the
                    default as determined by BFC, BFC shall be entitled to
                    deduct default charges from the equity contribution from
                    the date of default till the date that the equity contribution
                    is transmitted to BFC by AXA Mansard PLC, which shall be
                    at the at pre-agreed rate of 10%. Furthermore, the Facility
                    or balance thereof and other monies herein covenanted to
                    be paid whether by way of interest or otherwise shall
                    become immediately due and payable on the demand in the
                    advent of default. Furthermore, the Facility or balance
                    thereof and other monies herein covenanted to be paid
                    whether by way of interest or otherwise shall become
                    immediately due and payable on the demand in the advent of default
                </li>
              </ul>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="pdf-footer">
          <div class="footer-row">
            <div class="footer-image-col">
              <img src="../../assets/icon/cbnnigeria.svg" height="25" width="30" alt="Central Bank of Nigeria">
            </div>
            <div class="footer-text-col">
              <div><small>Gaderik Building, 100, Adetokunbo Ademola Street, Victoria Island, Lagos &nbsp;| info&#64;berkshirefinancecompany.com</small></div>
              <div><strong><small>Berkshire Finance Company Limited is a Finance Company that is licensed and regulated by the
                    Central Bank of Nigeria</small></strong></div>
         
            </div>
          </div>
      </div>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="default-events">
                <p><strong>4. Dispute Resolution</strong></p>
                <p>The Borrower agrees that any dispute which shall arise
                concerning this loan, including but not limited to disputes
                concerning interest rates, charges and/or fees payable on the
                loan, shall first be referred to Berkshire’s Internal Dispute
                Resolution (“IDR”) channel which will engage in goodwill
                negotiations to resolve such dispute. Where the IDR channel is
                unable to settle the dispute, such dispute shall be settled by a 
                single Arbitrator jointly appointed by you and Berkshire, in line
                with the Arbitration and Conciliation Act (CAP. A18) Laws of the
                Federation of Nigeria, 2004.</p>
              </div>
            </ion-col>
          
          </ion-row>
          <ion-row>
            <div class="default-events">
                <p><strong>5. Repayment Schedule</strong></p>
                <table class="repayment-table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Loan Balance</th>
                      <th>Principal Due</th>
                      <th>Interest Due</th>
                      <th>Repayment Amount*</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Wed May 22 2024</td>
                      <td>0.00</td>
                      <td>0.00</td>
                      <td>0.00</td>
                      <td>36,335.50</td>
                    </tr>
                    <tr>
                      <td>Sat Jun 22 2024</td>
                      <td>53,516.00</td>
                      <td>16,484.30</td>
                      <td>2,800.00</td>
                      <td>19,674.00</td>
                    </tr>
                    <tr>
                      <td>Mon Jul 22 2024</td>
                      <td>36,372.00</td>
                      <td>17,143.68</td>
                      <td>2,141.00</td>
                      <td>19,674.00</td>
                    </tr>
                    <tr>
                      <td>Thu Aug 22 2024</td>
                      <td>18,543.00</td>
                      <td>17,829.42</td>
                      <td>1,455.00</td>
                      <td>19,674.00</td>
                    </tr>
                    <tr>
                      <td>Sun Sep 22 2024</td>
                      <td>0.00</td>
                      <td>18,542.60</td>
                      <td>742.00</td>
                      <td>19,674.00</td>
                    </tr>
                  </tbody>
                </table>
                <p>*The repayment amount is inclusive of paystack charges.</p>
            </div>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <div class="default-events">
                <p><strong>6. Information and Regulatory Disclosure</strong></p>
                <p>As required by law, BFC is mandated to disclose the status of
                defaulting loans to relevant local credit bureaus, debt factors,
                recovery agents and regulatory bodies. The Borrower hereby
                consents to disclosure of relevant data to these third parties
                including banks.</p>
              </div>
              <div class="default-events">
                <p><strong>7. Global Standing Instruction (GSI) Mandate</strong></p>
                <p>
                By executing this Premium Finance Terms of Offer, the Borrower
                hereby gives BFC the mandate to activate a Global Standing
                Instruction in relation to their accounts/BVNs as provided under
                the Global Standing Instruction guidelines of the Central Bank
                of Nigeria (CBN).
                The Borrower also confirms that the Lender shall have the right
                to request the CBN exercise its regulatory power to direct all
                banks and other financial institutions under its regulatory
                purview to set-off the Borrower’s indebtedness from any money
                standing to the credit in any bank account and from any other
                financial assets they may be holding for the Borrower’s benefit.</p>
              </div>
              <div class="default-events">
                <p><strong>8.Other Terms and Conditions</strong></p>
                <p><strong>(a) Defintion</strong></p>
                <p>Words and expressions defined in these Terms and Conditions
                bear that meaning in the Application.</p>
                <ul>
                  <li><strong>Application</strong> means the 'Premium Funding Application Form'
                    attached to these Terms and Conditions</li>
                  <li><strong>Borrower</strong> means the party named in the Premium Finance
                    Terms of Offer</li>
                  <li><strong>Event of Default</strong> means any of the event listed in the
                    Premium Finance Terms of Offer</li>
                  <li><strong>Event of Default</strong> means any of the event listed in the
                    Premium Finance Terms of Offer</li>
                  <li><strong>Facility</strong> means the credit facility detailed in the Premium
                    Finance Terms of Offer</li>
                  <li><strong>Initial Payment</strong> means the equity contribution amount as
                    specified and payable to BFC by the Borrower</li>
                  <li><strong>Insurer</strong> means AXA Mansard Insurance PLC named in this Premium Finance Terms of Offer</li>
                  <li><strong>Insurance Policy</strong> means all insurance policies from time to time which premiums are funded by
                    sums disbursed</li>
                  <li><strong>Interest Rate</strong> is the rate used to calculate the cost of the loan, taking account of the
                    reducing balance of the Loan Amount, expressed as a monthly rate</li>
                </ul>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="default-events">
                <ul>
                  <li><strong>Loan Amount</strong> means the Facility Amount as specified in the Premium Finance Terms of Offer</li>

                  <li><strong>Monthly Instalment Amount</strong> is the amount due every month as specified in the repayment schedule
                  </li>
                  <li><strong>Premium Finance Application Package</strong> comprises of the Application and Premium Finance Terms of
                    Offer completed and signed by the Borrower</li>
                  <li><strong>Premium Finance Terms of Offer</strong> means the terms governing the Facility and these Terms and
                    Conditions as amended from time to time</li>
                  <li><strong>Premium Refund</strong> means any refund of premium payable by AXA Mansard Insurance PLC in respect of
                    an Insurance Policy</li>
                  <li><strong>Security</strong> means the Unearned Premium (based on agreed calculation) of the Insurance Policy,
                    which shall be refunded to BFC, in the event of default</li>
                  <li><strong>Total Cost Of Credit</strong> means cost of credit analytics and technology plus management fee</li>
                  <li><strong>Total Repayment Amount</strong> means the Loan Amount specified in Section 5 and Total Cost of Credit;
                    all liabilities, losses, costs and/or expenses incurred by BFC to fund, or in funding, the Total Loan Amount and
                    all other monies payable by the Borrower to BFC</li>
                </ul>
              </div>
              <div class="default-events">
                <p><strong>(b)Loan</strong></p>
                <ul>
                  <li>The Borrower must furnish BFC, when requested, all required
                  information about the Borrower or its business in the form
                  required for the assessment of the application and at any
                  time whilst the Total Repayment Amount remains unpaid</li>
                  <li>The Borrower must make the Initial Payment, pay the
                    Upfront Fee and execute the Premium Finance Application
                    Package before the loan is considered for acceptance by
                    BFC</li>
                  <li>Acceptance by BFC of the application and/or a
                    disbursement request will be signified by way of BFC
                    advancing all or part of the total premium to AXA Mansard
                    Insurance PLC as the case may be</li>
                  <li>
                    The Borrower is allowed forty-eight (48) hours to review this
                    Premium Finance Terms of Offer (“Review Period”)
                  </li>
                  <li>
                    Acceptance by BFC of the application and/or a
                    disbursement request will be signified by way of BFC
                    advancing all or part of the total premium to AXA Mansard
                    Insurance PLC as the case may be.
                  </li>
                </ul>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="pdf-footer">
          <div class="footer-row">
            <div class="footer-image-col">
              <img src="../../assets/icon/cbnnigeria.svg" height="25" width="30" alt="Central Bank of Nigeria">
            </div>
            <div class="footer-text-col">
              <div><small>Gaderik Building, 100, Adetokunbo Ademola Street, Victoria Island, Lagos &nbsp;|
                  info&#64;berkshirefinancecompany.com</small></div>
              <div><strong><small>Berkshire Finance Company Limited is a Finance Company that is licensed and regulated by the
                    Central Bank of Nigeria</small></strong></div>
        
            </div>
          </div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="default-events">
               <ul>
                <li>BFC may in its sole discretion decline the Application or any disbursement request</li>
                <li>The Borrower is permitted to rescind this Premium Finance Terms of Offer within three (3) days of executing same
                  (“Cooling Off Period”), provided that the Lender has not disbursed the Facility Amount</li>
                <li>The Borrower shall send all communications or complaints regarding this loan to us via telephone on 081 603 0000,
                  via email at clientservices@berkshirefinancecompany.com or in person at any of our branches. If and where necessary,
                  you may direct your complaint to the Consumer Protection Department of the Central Bank of Nigeria by writing to the
                  Director, Consumer Protection Department, CBN, Abuja or by sending an email to: cpd@cbn.gov.ng</li>
                <li>Acceptance by BFC of the application and/or a disbursement request will be signified by way of BFC advancing all or
                  part of the total premium to AXA Mansard Insurance PLC as the case may be</li>
                <li>Berkshire Finance Company Limited is a company duly licensed and regulated by the Central Bank of Nigeria</li>
                <li>Any notice from us to the Borrower shall be deemed to have been sufficiently given if sent by electronic mail, via
                  your account officer, delivered by hand, sent by courier service, or registered mail to an address provided by you to
                  us in writing</li>
                <li>This Premium Finance Terms of Offer is governed by the laws of the Federal Republic of Nigeria and the courts of the
                  Federal Republic of Nigeria have jurisdiction in respect of any matter arising from it</li>
               </ul>
               </div>
            </ion-col>
            <ion-col size="6">
              <div class="default-events">
                <p><strong>(c) Repayment</strong></p>
                <p>The Borrower will repay the Total Repayment Amount to BFC as
                follows unless an Insurance Policy is terminated earlier or unless
                otherwise directed by BFC:</p>
               <ul>
                <li>The Borrower will make the Initial Payment to BFC; and on the consecutive monthly instalment date in each month
                  after the Initial Payment due date, the Borrower will pay the Monthly Instalment Amount to BFC until the Total
                  Repayment Amount has been repaid in full</li>
                <li>Where an Insurance Policy is terminated earlier by the Borrower then (i) the Total Repayment Amount will be adjusted
                  by taking into consideration the Total Premium of the remaining cover period of the Insurance Policy (or Policies) (if
                  any); (ii) BFC will notify the Borrower in writing of the adjusted Initial Payment Amount within seven (7) days of
                  termination of an Insurance Policy (or Policies); and (iii) either of the Borrower or BFC will repay the adjusted
                  Initial Payment Amount in accordance with the provisions of the Premium Finance Terms of Offer</li>
                <li>The Borrower may make early payment in respect of any repayment which is not yet due, or which is to become due, by
                  using the repayment option provided through his/her Berkshire Account via our web and mobile applications. Such
                  payment shall be reconciled against the Borrower’s loan account. The Borrower may be debited of any outstanding
                  amounts on the Total Repayment when the repayment becomes due and payable. Where the Borrower makes excess payment,
                  he/she may contact us and request an account reconciliation, following which we may either refund any excess paid or apply the excess to the Borrower’s
                  next repayment</li>
               </ul>
               </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="pdf-footer">
          <div class="footer-row">
            <div class="footer-image-col">
              <img src="../../assets/icon/cbnnigeria.svg" height="25" width="30" alt="Central Bank of Nigeria">
            </div>
            <div class="footer-text-col">
              <div><small>Gaderik Building, 100, Adetokunbo Ademola Street, Victoria Island, Lagos &nbsp;|
                  info&#64;berkshirefinancecompany.com</small></div>
              <div><strong><small>Berkshire Finance Company Limited is a Finance Company that is licensed and regulated by the
                    Central Bank of Nigeria</small></strong></div>
        
            </div>
          </div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="default-events">
                <p><strong>(c) Repayment</strong></p>
                <p>The Borrower will repay the Total Repayment Amount to BFC as
                follows unless an Insurance Policy is terminated earlier or unless
                otherwise directed by BFC:</p>
               <ul>
                <li>The Borrower will make the Initial Payment to BFC; and on the consecutive monthly instalment date in each month
                  after the Initial Payment due date, the Borrower will pay the Monthly Instalment Amount to BFC until the Total
                  Repayment Amount has been repaid in full</li>
                <li>Where an Insurance Policy is terminated earlier by the Borrower then (i) the Total Repayment Amount will be adjusted
                  by taking into consideration the Total Premium of the remaining cover period of the Insurance Policy (or Policies) (if
                  any); (ii) BFC will notify the Borrower in writing of the adjusted Initial Payment Amount within seven (7) days of
                  termination of an Insurance Policy (or Policies); and (iii) either of the Borrower or BFC will repay the adjusted
                  Initial Payment Amount in accordance with the provisions of the Premium Finance Terms of Offer</li>
                <li>The Borrower may make early payment in respect of any repayment which is not yet due, or which is to become due, by
                  using the repayment option provided through his/her Berkshire Account via our web and mobile applications. Such
                  payment shall be reconciled against the Borrower’s loan account. The Borrower may be debited of any outstanding
                  amounts on the Total Repayment when the repayment becomes due and payable. Where the Borrower makes excess payment,
                  he/she may contact us and request an account reconciliation, following which we may either refund any excess paid or apply the excess to the Borrower’s
                  next repayment</li>
               </ul>
               </div>
            </ion-col>
            <ion-col size="6">
              <div class="default-events">
                <p><strong>(d) Security</strong></p>
                <ul>
                  <li>To secure the payment to BFC of the Total Repayment
                    Amount, the Borrower assigns absolutely to BFC all monies
                    paid or payable under the Insurance Policy (or Policies)
                    (including any Premium Refund) and further, assigns
                    absolutely to BFC its right to cancel the Insurance Policy (or
                    Policies)</li>
                  <li>In addition to the insurance policy assignment and subject
                    to the terms of any prior existing Security granted by the
                    Borrower, the Borrower must provide and/or procure the
                    provision to BFC of any Security as required by BFC from
                    time to time to secure payment of the Total Repayment
                    Amount</li>
                  <li>Whilst any part of the Total Repayment Amount is unpaid,
                    and/or whilst the Borrower remains indebted to BFC under
                    any other agreement, the Borrower must not do, or allow to
                    be done, anything which might prejudice the security
                    assignment, or any Security granted to BFC (iii) ensure that
                    the Insurance Policy or (Policies) will remain free from any
                    Security other than those granted to BFC</li>
                  <li>The Borrower irrevocably directs AXA Mansard Insurance
                    PLC to make all payments of Premium Refund and all other
                    monies payable under the Insurance Policy (or Policies)
                    directly to BFC upon request by BFC</li>
                  <li>If such remittance is made, during the operation of the
                    relevant Insurance Policy, apply all such payments received
                    by it in reduction or satisfaction (as applicable) of the Total
                    Repayment Amount and to pay the balance (if any) to the
                    Borrower; or if such remittance is made after the
                    termination of the relevant Insurance Policy, apply all such
                    payments received by it in satisfaction of the amount owing
                    under the Facility up to the date of receipt of the Premium
                    Refund from AXA Mansard Insurance PLC of the relevant
                    Insurance Policy (or Policies) and pay the balance (if any) to
                    the Borrower</li>
                </ul>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="pdf-footer">
          <div class="footer-row">
            <div class="footer-image-col">
              <img src="../../assets/icon/cbnnigeria.svg" height="25" width="30" alt="Central Bank of Nigeria">
            </div>
            <div class="footer-text-col">
              <div><small>Gaderik Building, 100, Adetokunbo Ademola Street, Victoria Island, Lagos &nbsp;|
                  info&#64;berkshirefinancecompany.com</small></div>
              <div><strong><small>Berkshire Finance Company Limited is a Finance Company that is licensed and regulated by the
                    Central Bank of Nigeria</small></strong></div>
        
            </div>
          </div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="default-events">
                <p><strong>(e) Power of Attorney</strong></p>
                <p>In the event of default, the Borrower irrevocably appoints BFC as
                its true and lawful attorney with the power:</p>
                <ul>
                  <li>At any time to: (i) sign all documents and do all things
                  necessary on behalf of the Borrower in the discharge of its
                  obligations under these FacilityTerms (ii) complete or
                  correct any information on or missing from the Application
                  and (iii) appoint substitutes and otherwise delegate its
                  rights (including this right of delegation)</li>
                  <li>Upon an Event of Default (in addition to the above powers),
                  to do anything that the Borrower may lawfully do in relation
                  to the Facility and the Insurance Policy (or Policies),
                  including to cancel any Insurance Policy (or Policies), to
                  apply for a Premium Refund and to receive such monies</li>
                  <li>The Borrower may make early payment in respect of any repayment which is not yet due, or which is to
                    become due, by
                    using the repayment option provided through his/her Berkshire Account via our web and mobile applications.
                    Such
                    payment shall be reconciled against the Borrower’s loan account. The Borrower may be debited of any
                    outstanding
                    amounts on the Total Repayment when the repayment becomes due and payable. Where the Borrower makes excess
                    payment,
                    he/she may contact us and request an account reconciliation, following which we may either refund any excess
                    paid or apply the excess to the Borrower’s
                    next repayment</li>
                </ul>
              </div>
              <div class="default-events">
              <p><strong>(f) Consequences of Default</strong></p>
              <p>Upon an Event of Default occurring:</p>
              <ul>
                <li>The Total Repayment Amount will immediately become due
                and payable without further demand or notice to the
                Borrower</li>
                <li>BFC may, without notice to the Borrower terminate the
                Facility and exercise all of its rights and remedies under
                these Premium Finance Terms of Offer and under any
                Security</li>
                <li>BFC may terminate an Insurance Policy (or Policies) and
                seek appropriate Premium Refund, provided that (i) the
                Borrower has failed to make a payment due under the
                Facility; and (ii) the Borrower fails and/or refuses to make
                the payment(s) due within seven (7) days of notice from
                BFC. A notice will be deemed to be received two (2) business
                days after it is sent by BFC</li>
              </ul>
              </div>
              <div class="default-events">
                <p><strong>(g) Representations, Warranties and Covenant</strong></p>
                <p>The Borrower represents, warrants, and covenants that:</p>
                <ul>
                  <li>He/she has the right to accept this Facility and has taken all
                    necessary actions to authorise same upon the terms and
                    conditions herein</li>
                    <li>He/she is not in default under any obligation in respect of
                      any borrowed money that the acceptance of this Facility will
                      be or result in breach of or default under any provision or
                      any other agreement to which the Borrower is a party</li>
                </ul>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="default-events">
                <ul>
                    <li>The information given to BFC verbally or in writing in this
                      application form is true and accurate</li>
                  <li>He/she covenants to inform the Lender of any changes in its
                  personal information or details of repayments</li>
                </ul>
              </div>
              <div class="default-events">
              <p><strong>(h) Indemnity</strong></p>
              <p>The Borrower will indemnify BFC against all costs, expenses,
              stamp duty, fines, penalties, losses, liability, and taxes incurred
              by BFC:</p>
              <ul>
                <li>In funding the premiums or taking any Security or in
                connection with any other transaction contemplated by
                these Offer Letter</li>
                <li>In collecting the Total Repayment Amount or pursuant to an
                Event of Default; and/or</li>
                <li>In the exercise of its rights under these Premium Finance
                Terms of Offer and under any Security</li>
              </ul>
              </div>
              <div class="default-events">
                <p><strong>(i) Data Protection, Assignment and Disclosure of Information</strong></p>
                <p>Berkshire needs to process your personal data in order to
                provide the loan and carry out its obligations under this
                Premium Finance Terms of Offer. You hereby consent to all
                processing of your personal data in connection with this loan,
                including but not limited to data processing for specific
                purposes in furtherance of the loan
                Unless otherwise agreed in this Premium Finance Terms of Offer
                or permitted under law, your confidential information (including
                your personal data) shall not be disclosed to a third party
                You authorise us to disclose any information (including your
                personal data) or documentation relating to the loan, where
                necessary to give effect to the terms of the loan, to third parties
                including the payment provider which you choose for your
                repayments, credit reference agencies, collections and recovery
                agents, law enforcement agencies (including but not limited to
                the Economic and Financial Crimes Commission and the Special
                Fraud Unit of the Nigeria Police Force) and where you are in
                salaried employment, your employers. We shall make such
                disclosures in compliance with applicable laws and regulations
                You hereby waive any right of confidentiality whether arising
                under common law or statute or in any other manner whatsoever
                and irrevocably agree that you shall not argue to the contrary
                before any court of law, tribunal administrative authority or any
                other body acting in any judicial or quasi-judicial capacity.
                You consent irrevocably to any future sale, transfer and
                assignment of all or any part of the loan by us to any third party
                without any notification to you, whether as part of a loan
                transfer scheme or otherwise</p>
              </div>
              <div class="default-events">
                <p><strong>(j) Updates and Amendments of Terms of Offer</strong></p>
                <p>The Borrower and BFC agree that the Terms of Offer may be
                  updated from time to time by BFC. Accordingly, BFC has the
                  right to amend, modify or change any portion of the Terms of
                  Offer without prior notice to the Borrower and without the
                  Borrower's consent. Where any portion of the Terms of Offer are
                  amended or modified, such changes shall be effective
                  immediately. Details of updates and amendments will be
                  transmitted to the Borrower by email or any other appropriate
                  means as determined by BFC.</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="pdf-footer">
          <div class="footer-row">
            <div class="footer-image-col">
              <img src="../../assets/icon/cbnnigeria.svg" height="25" width="30" alt="Central Bank of Nigeria">
            </div>
            <div class="footer-text-col">
              <div><small>Gaderik Building, 100, Adetokunbo Ademola Street, Victoria Island, Lagos &nbsp;|
                  info&#64;berkshirefinancecompany.com</small></div>
              <div><strong><small>Berkshire Finance Company Limited is a Finance Company that is licensed and regulated by the
                    Central Bank of Nigeria</small></strong></div>
        
            </div>
          </div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="default-events">
                <p><strong>(k) Governing Law</strong></p>
                <p>This agreement shall be governed by Nigerian Law</p>
                <p class="sign"><strong>Yours faithfully,</strong></p>
                <p><strong>For: Berkshire Finance Company Limited</strong></p>
                <div class="sign">
                  <img src="../../assets/icon/sign.png" height="25" alt="BFC signs">
                </div>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="default-events">
                <p>I, Kayode Foluso hereby accept the terms and conditions
                contained in this Offer Letter for a Premium Finance Facility of
                ₦70,000.00 dated 22-05-2024 and bound myself to the
                provisions and terms stipulated in the Offer Letter.</p>
                <p>I confirm that my name, or abbreviations of same as set out
                below, shall suffice as my electronic signature and that the
                signature represents adequate evidence of my agreement to be
                bound by the terms of this contract between myself and the
                Lender.</p>
                <p><strong>Name:</strong> Kayode Foluso</p>
                <p>Signature:<strong></strong>............................</p>
                <p><strong>Date:</strong>22-05-2024</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="pdf-footer">
          <div class="footer-row">
            <div class="footer-image-col">
              <img src="../../assets/icon/cbnnigeria.svg" height="25" width="30" alt="Central Bank of Nigeria">
            </div>
            <div class="footer-text-col">
              <div><small>Gaderik Building, 100, Adetokunbo Ademola Street, Victoria Island, Lagos &nbsp;|
                  info&#64;berkshirefinancecompany.com</small></div>
              <div><strong><small>Berkshire Finance Company Limited is a Finance Company that is licensed and regulated by the
                    Central Bank of Nigeria</small></strong></div>
        
            </div>
          </div>
        </div>
    </div>
    
  </div>
</ion-content>
